/* PC */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){

}

/* Mobile */
@media (max-width: 740px){
    .s-full-width,
    .s-col-full{
        width: 100% !important; 
    }
    .s-mt-8{
        margin-top: 8px;
    }
    #header{
        overflow: hidden;
    }
    #header .menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav>li>a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #acb;
    }
    .subnav li{
        border-bottom: 1px solid #ccc;
    }
    .subnav li a{
        padding: 5px 35px;
    }
    #content .section-sub-heading{
        font-size: 21px;
    }
    #content .school-item{
        padding-top: 10px;
    }
    #content .school-img{
        width: 60%;
    }
    #content .tour-section .place-buy-btn{
        padding: 13px 16px;
    }
}
