*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{


}
.text-white{
    color: #fff;
}
.clear{
    clear: both;
}
.area-img{
    width: 255.984px;
    height: 191.984px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    padding: 0 8px;
    float: left;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100%/3);
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
/* Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000;
    height: 46.5px;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav>li{
    position: relative;
    display: inline-block;
    list-style-type: none;
}
#nav>li>a{
    display: block;
    padding: 0 24px;
    line-height: 46.5px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.subnav li a{
    display: block;
    padding: 0 12px;    
    line-height: 38px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
}
#nav>li:hover>a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #333;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
}
#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

/* Slider */
#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('../img/Combo3.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    width: 100%;
    color: #000;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 30px;
}
#slider .text-description{
    font-size: 20px;
    margin-top: 25px;
}

/* Content */
#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}
#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    font-style: italic;
    opacity: 0.8;
}
#content .about-text{
    margin-top: 25px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

#content .school-list{
    padding-top: 48px;
}
#content .school-item{
    float: left;
    text-align: center;
    width: calc(100%/3);
}
#content .school-name{
    font-size: 20px;
}

#content .school-img{
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour list */
.tour-section{
    background-color: #34573d7a;
}
.tour-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tour-list li{
    padding: 11px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    
}
.tour-list .tour-final{
    float: right;
    padding: 4px 5px;
    background-color: #F44337;
    color: #fff;
    border-radius: 10px;
    /* margin-left: 16px; */
}
.tour-list .tour-comming{
    float: right;
    margin-top: -4px;
    padding: 3px;
    line-height: 24px;
    background-color: #56cbcf;
    color: rgb(235, 235, 36);
    border-radius: 10px;
    text-align: center;
}
/* place */
.place-list{
    margin: 32px -8px 0;
    padding-bottom: 48px;
}
.place-item{
    padding: 0 8px;
    width: calc(100%/3);
    float: left;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    margin: 15px 0;
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin: 15px 0;
    color: #757575;
}
.place-desc{
    margin: 15px 0;
    line-height: 1.5;
}
.place-buy-btn{
    padding: 8px 16px;
    margin: 0 0 16px;
    background-color: #5ab9df;
    color: #1b2d35;
    text-decoration: none;
}
.place-buy-btn:hover{
    background-color: #eb9749;
    color: #333;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contact */

.contact-section{

}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form .form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.contact-form .form-submit-btn{
    float: right;
    padding: 10px 22px;
    color: #fff;
    background-color: #000;
    border: 1px solid #ccc;
}

#footer{

}